.App {
  text-align: center;
}

.logo-avatar {
  display: flex;
  padding: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 0.5px solid black;
}

.avatar {
  border-radius: 100%;
}
